{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Achievements.css' %}">
    <script src="{% static 'js/Works.js' %}"></script>
    <title>Achievements</title>
  </head>

  <body>
    <a href="{% url 'home' %}"><img src="{% static 'img/Arrow.png' %}" class="back-btn"></a>
    <h1 id="title">実績</h1>
    <div class="Achievements-container">
      <div class="Award">
        <img class="Photo" src="{% static 'img/Award/GPA_Photo.jpg' %}">
        <div class="container">
        <h2>情報連携学部学生表彰</h2>
        <h3>2024年6月|学業成績優秀者</h3>
        <p>成績の指標であるGPAを通年で4.1を超えていたため、
        大学から成績優秀者として表彰していただきました
        さらに大学のホームページで紹介していただきました。</p>
        <p><a href="https://www.iniad.org/blog/2024/06/12/post-2902/">https://www.iniad.org/blog/2024/06/12/post-2902/</p></a>
        </div>
      </div>
      <div class="Award">
        <img class="Photo" src="{% static 'img/Award/IT_passport_Photo.jpg' %}">
        <div class="container">
        <h2>ITパスポート</h2>
        <h3>2024年11月|取得</h3>
        <p>約2ヶ月間勉強をし、試験に合格することができました。この試験を通して、ITに関する基本的なことを学びました。</p>
        </div>
      </div>
    </div>
  </body>
</html>
