{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Works_contents.css' %}">
    <script src="{% static 'js/Works.js' %}"></script>
    <title>Harusion</title>
  </head>

  <body>
    <a href="{% url 'Works_game' %}"><img src="{% static 'img/Arrow.png' %}" class="back-btn"></a>
    <h1 id="title"><ruby>春紫苑<rt>はるしおん</rt></ruby></h1>

    <div class="slider">
      <div class="slides">
        <img src="{% static 'img/Harusion/Photo1.png' %}" alt="Photo 1" class="slide active">
        <img src="{% static 'img/Harusion/Photo2.png' %}" alt="Photo 2" class="slide">
        <img src="{% static 'img/Harusion/Photo3.png' %}" alt="Photo 3" class="slide">
        <img src="{% static 'img/Harusion/Photo4.png' %}" alt="Photo 4" class="slide">
        <img src="{% static 'img/Harusion/Photo5.png' %}" alt="Photo 5" class="slide">
      </div>
      <div class="dots">
        <span class="dot active" onclick="currentSlide(0)"></span>
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
      </div>
    </div>

    <div class="explanation-container">
      <div class="explanation-box">
        <h2>説明</h2>
        <p>2024年の8月にサークル内で行った1weekチーム開発で制作した2Dの謎解きゲームです。</p>
      </div>
      <div class="explanation-box_me">
        <h2>私が関わった部分</h2>
        <p>プロジェクトマネージャーとしてチーム全体の進捗管理を行いました。また、ドット絵の大部分を描きました。</p>
      </div>
      <div class="explanation-box_me">
        <h2>使用ツール</h2>
        <p>Unity, Aseprite, 魔王魂, 効果音ラボ</p>
      </div>
    </div>
    
  </body>
</html>
