body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    background-color:aliceblue;
}

#title {
    color: black;
    position: absolute;
    top: -3%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
}


.back-btn {
    height: 120px;
    width: auto;
    background-color: transparent;
    position: absolute;
    top: 2%;
    left: 2%;
}

.Achievements-container{
    position: relative;
    top: 80px;
    left: 300px;
}

.Award{
    display: flex;
    margin-top: 30px;
}

.Photo{
    width: 150px;
    height: auto;
    margin-right: 200px;
}

.container{
    text-align: left;
    position: relative;
    top:-25px;

}

.container p {
    word-wrap: break-word; /* 古いブラウザ向け */
    overflow-wrap: break-word; /* 推奨される最新プロパティで改行 */
    white-space: normal; /* 必要に応じて改行 */
    max-width: 60%; /* コンテナ幅に収める */
    line-height: 1.5; /* 読みやすさを向上させる */
    margin-bottom: 10px; /* 段落間の余白を調整 */
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    #title {
        font-size: 30px;
        position: absolute;
        top: 20px;
    }

    .back-btn {
        height: 80px;
        width: auto;
    }

    .Photo {
        width: 100%; /* 画像の幅を画面に合わせる */
        max-width: 200px; /* 必要なら最大幅を指定 */
        height: auto;
        margin-right: 10px; /* マージンを調整 */
        margin-left: 100px;
        position: relative;
        left: -180px;
        top: 50px;
    }

    .container {
        position: relative;
        top: 30px;
        right: 75px;
    }

    .container p {
        font-size: 14px; /* モバイル向けにフォントサイズを調整 */
        line-height: 1.4; /* モバイルで読みやすく */
    }
}
