body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    background-color:aliceblue;
}

#title {
    color: black;
    position: absolute;
    top: -3%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
}


.back-btn {
    height: 120px;
    width: auto;
    background-color: transparent;
    position: absolute;
    top: 2%;
    left: 2%;
}

.Achievements-container{
    position: relative;
    top: 80px;
    left: 100px;
}

.Award{
    display: flex;
    margin-top: 30px;
}

.Photo{
    width: 150px;
    height: auto;
    margin-right: 200px;
}

.container{
    text-align: left;
    position: relative;
    top:-25px;
}