body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    background-color: black;
    
}

.title {
    color: aqua;
    position: relative;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
    text-align: center;
    width: 100%;
}



.back-btn {
    height: 120px;
    width: auto;
    background-color: transparent;
    position: absolute;
    top: 2%;
    left: 2%;
}

.container {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: center; 
    align-items: center;
    width: 100%; 
    margin: 0 auto;
    position: relative; 
    right: 10%;
    top: 50px;
    text-align: left;
}


.Game {
    height: 200px;
    width: 200px;
    background-color: lightblue; /* 見やすいように背景を設定 */
}


.works_contents{
    display: flex;
    margin-top: 150px;
}


.Design{
    height: auto;
    width: 180px;

    padding: 0;
    justify-content: center;
    align-items: center;
}