body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    background-color: black;
    
}

#title {
    color: aqua;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
}


.back-btn {
    height: 120px;
    width: auto;
    background-color: transparent;
    position: absolute;
    top: 2%;
    left: 2%;
}

.container {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: center; 
    align-items: center;
    width: 100%; 
    margin: 0 auto;
    position: relative; 
}


.Game {
    height: 200px;
    width: 200px;
    background-color: lightblue; /* 見やすいように背景を設定 */
}



.slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    top: 3%; /* 画面上部からの位置 */
    left: 100px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    
}

.slide {
    height: 300px;
    width: auto;
    display: none;
    border: 2px solid grey;
}

.slide.active {
    display: block;
}

.dots {
    text-align: center;
    margin-top: 10px; /* 写真とドットの間隔 */
    position: relative; /* スライダー内に配置 */
    right: 60px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: gray;
}


.explanation-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
}

.explanation-box, .explanation-box_me {
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid gray;
    top:40px
}



.explanation-box h2{
    margin: 0;
    padding: 0;
    background-color: aqua;
    padding-right: 10px;
    text-align: center;
}



.explanation-box_me h2 {
    margin: 0;
    padding: 0;
    background-color: aqua;
    padding-right: 10px;
    text-align: center;
}

.explanation-box p {
    color: white;
}

.explanation-box_me p {
    color: white;
}

@media (max-width: 768px) {
    #title{
        font-size: 30px;
    }
    .back-btn {
        height: 80px;
        width: auto;
    }
    .slide {
        width: 45%; /* 固定値を相対値に変更 */
        height: auto;
        position:fixed;
        left: 25px;
        top: 150px;
    }

    .dots{
        position: fixed;
        top: 320px;
        left: -250px;
    }
    .explanation-container {
        width: 90%; /* 画面幅に応じたサイズ調整 */
    }

    .explanation-box, .explanation-box_me {
        margin-left: 10px;
        margin-right: 10px;
    }
}